@mixin backgound-image ($image: none, $position: center, $repeat: no-repeat, $size: cover ) {
  background-image: $image;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}