$main-color: #ff5400;
$write: #ffffff;
$black: #000000;
$color222: #222222;
$color888: #888888;
$color868: #868686;
$color-f1: #f1f1f1;

$bg-overlay: rgba(34, 34, 34, 0.8);
$bg-overlay-20: rgba(0, 0, 0, 0.2);
$box-shadow: rgba(0, 0, 0, 0.2);
$star: #ffb802;
$name: #404040;
$title: #404040;
$comment: #555555;
$dot: #cacaca;
$dot-ac: #ff5400;
$title-footer: #9a9a9a;
$title-footer-bold: #bebebe;
$car: #868686;
$bd-footer-bt: rgba(51, 51, 54, 0.1);
